.Header {
  width: 100%;
  display: flex;
  position: relative;
  max-width: 100%;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-halfunit);
  justify-content: space-between;
  background-color: #D9D9D9;
}
.image {
  width: 107px;
  height: 99px;
}
.text {
  top: 41px;
  left: 162px;
  margin: auto;
  position: absolute;
  font-size: 30px;
  align-self: center;
  font-style: normal;
  font-family: Poppins;
  font-weight: 700;
}



@media(max-width: 767px) {
  .Header {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
}
@media(max-width: 479px) {
  .Header {
    padding: var(--dl-space-space-unit);
  }
}
